body {
  background-image: url("./assets/background.png");
  color: orange;
  padding: 20px;
  
}
h1 {
  font-size: 80px;
  text-align: center;
}
p {
  border: 10px solid green;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  background-color: darkBlue;
  min-width: 100px;
}
.annocment {
  border: 10px solid green;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  background-color: darkBlue;
  min-width: 100px;
}
